html,
body {
    height: 100%;
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

#bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    position: fixed;  
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#black {
    width: 100%;
    height: 100%;
    z-index: 4;
    position: fixed;
    display: none;
}
#big_box{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    display: none;
}
#show {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}


#close {
    width: 20%;
    height: 10%;
    top: 80%;
    left: 40%;
    position: fixed;
    background-image: url("./make_tea/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    z-index: 100;
}


#start {
    height: 15vw;
    width: 35vw;
    position: fixed;
    left: 33%;
    top: 50%;
    display:block;
    border: 2px solid rebeccapurple;
}

#daocha {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: none;
}

#area{
    width: 40%;
    height: 40vw;
    position: fixed;
    left: 30%;
    top: 35%;
    display: none;
}
#use{
    width: 40%;
    height: 40vw;
    position: fixed;
    object-fit: contain;
    left: 30%;
    top: 35%;
    display: block;
}
#words_bottom{
    width: 90%;
    height: 15vw;
    position: fixed;
    left: 5%;
    top: 55%;
    background-image: url("./make_tea/words_bottom.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

#words{
    width: 90%;
    height: 10vw;
    margin-top: 2%;
    position: fixed;
    background-image: url("./make_tea/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#word{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("./make_tea/word.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#next{
    height: 15vw;
    width: 35vw;
    position: fixed;
    left: 33%;
    top: 50%;
    background-image: url("./make_tea/change.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}